<h1>Reset Your Campfire Password</h1>
<p>Hello,</p>
<br>
<p>You have requested a password reset for your Campfire account.</p>
<p>
  To reset your Campfire password, please click on this: <%= link_to 'link', @url %>.
</p>
<br>
<p>Campfire</p>
