NODE_ENV=development
HOST=0.0.0.0
PORT=4000
DOMAIN=api.meteorhr.com
MONGODB_USER=ruslankhissamov
MONGODB_PASSWORD=6qEHcxKtouFxceH0
MONGODB_PM_URI=
MONGODB_IDENT_URI=
REDIS_HOST=redis-19573.c11.us-east-1-3.ec2.redns.redis-cloud.com
REDIS_PORT=19573
REDIS_PASSWORD=8mpL7HmjTZVeaT9qTJaOB84rcSOPI2Mc
REDIS_URL=
REDIS_PREFIX=campfire
APP_BASE_URL=http://localhost:4000
APP_VERSION=dev
GIT_REVISION=dev
TOKEN_EXPIRATION_MINUTES=15
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:support@example.com
JWT_SECRET=change-me-please-secret
