<%= button_to rooms_directs_path(user_ids: [ user.id ]), class: "nav__direct-item" do %>
  <span class="avatar">
    <%= image_tag fresh_user_avatar_path(user), size: 32, aria: { hidden: "true" } %>
  </span>
  <span class="nav__direct-label">
    <span class="for-screen-reader">Start a ping with</span>
    <%= user.name.split(' ')[0] %>
  </span>
<% end %>
