#nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--inline-space);
  padding: var(--block-space);
  position: relative;
  width: 100%;
  pointer-events: auto;

  > * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account-logo {
    margin-block-end: var(--block-space);
  }

  .room--current {
    margin-block-end: var(--block-space);
    width: auto;
    min-width: fit-content;
  }

  .btn {
    width: auto;
    min-width: fit-content;
  }
}

.skip-navigation {
  --left-offset: -999em;

  inset-block-start: 4rem;
  inset-inline-start: var(--left-offset);
  position: absolute;
  white-space: nowrap;
  z-index: 11;

  &:focus {
    --left-offset: var(--inline-space);
  }
}
